@media screen {
  #printSection {
      display: none;
  }
}
@media print {
  body * {
      display:none;
      visibility:hidden;
  }

  #printSection, #printSection *:not(table):not(thead):not(tbody):not(tr):not(td):not(th){
      display: block;
      visibility:visible;
  }
  #printSection {
      position:absolute;
      left:0;
      top:0;
      margin-bottom:0;
  }
  table{
      display:table;
      visibility:visible;
  }
  thead{
      display:table-header-group;
      visibility:visible;
  }
  tbody{
      display:table-row-group;
      visibility:visible;
  }
  td, th{
      display:table-cell;
      visibility:visible;
  }
  tr{
      display:table-row;
      visibility:visible;
  }

  botones {
    position: relative;
    display: inline;
    padding-bottom: 10px;
  }

}

