<!-- header -->
<div class="container">
      <div class="agileits-logo navbar-left">
        <h1><a href="index.html"><img src="../../../assets/images/loguito.png" alt="logo"/>{{data?.subtitulo}}</a></h1>
      </div>
      <div class="agileits-hdright nav navbar-nav">
        <div class="header-w3top"><!-- header-top -->
          <ul class="w3l-nav-top">
            <li><i class="fa fa-phone"></i><span> {{data?.telefono}} </span></li>
            <li><a href="mailto:{{data?.email}}" target="_blank"><i class="fa fa-envelope-o"></i><span>{{data?.email}}</span></a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
        <div class="agile_social_banner">
          <ul class="agileits_social_list">
            <li><a [href]="data?.facebook" target="_blank" class="w3_agile_facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a [href]="data?.twitter" target="_blank" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a [href]="data?.telegram" target="_blank" class="w3_agile_dribble"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
            <li><a [href]="data?.instagram" target="_blank" class="w3_agile_vimeo"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>

      </div>
      <div class="clearfix"> </div>
    </div>
	<!-- //header -->

  <!-- banner -->

		<div class="header-nav"><!-- header-three -->
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						Menu
					</button>
				</div>
				<!-- top-nav -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a [routerLink]="['home']" class="active" routerLinkActive="active">Inicio</a></li>
						<li><a [routerLink]="['about']" class="scroll" routerLinkActive="active">Nosotros</a></li>
						<li><a [routerLink]="['services']" class="scroll">Servicios</a></li>
						<li><a href="icons.html" data-toggle="dropdown">PEDIENTE<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="">ALTAS</a></li>
								<li><a href="">BAJAS</a></li>
							</ul>
						</li>
						<li><a [routerLink]="['contact']" class="scroll" routerLinkActive="active">Contactanos</a></li>
            <li *ngIf="!isLoggedIn && !isLoggedGoogle && !isLoggedFacebook && !isLoggedTwitter"><a [routerLink]="['login']" class="scroll" routerLinkActive="active">Identificar</a></li>
            <li *ngIf="isLoggedIn || isLoggedGoogle || isLoggedFacebook || isLoggedTwitter"><button (click)="logout()" id="logout" ><span  class="glyphicon glyphicon-log-out"> Cerrar Sesión</span></button></li>
            <li *ngIf="isLoggedGoogle || isLoggedFacebook || isLoggedTwitter">
                <img *ngIf="isLoggedGoogle" [src]="foto" id="imagenGoogle" class="img-circle"/>
                <img *ngIf="isLoggedFacebook" [src]="foto" id="imagenFacebook" class="img-circle"/>
                <img *ngIf="isLoggedTwitter" [src]="foto" id="imagenTwitter" class="img-circle"/>
            </li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</nav>
		<!-- banner-text -->
