<div class="agile-footer w3ls-section">
	<div class="container">
<div class="col-md-12 list-footer">
		  <ul class="footer-nav">
				<li><a  href="index.html">Inicio</a></li>
				<li><a  href="about.html">Nosotros</a></li>
				<li><a  href="services.html">Servicios</a></li>
				<li><a href="contact.html">Contactanos</a></li>
		  </ul>
		  <p>aqui va el palique de lagislacion etc xD</p>
		</div>

		<div class="clearfix"></div>
  </div>
 </div>

    <div class="w3_agile-copyright text-center">
    		<p>© {{anio}}  {{data?.titulo}}. All rights reserved | Design by <a href="{{data?.autorUrl}}">{{data?.autor}}</a></p>
    	</div>
